html{
    scroll-behavior: smooth;
}

body{
    background-color: #fefae0;
    margin: 0;
    color: #283618;
    font-family: "roboto";
}


img{
    border: 15px double #dda15e;
    border-radius: 4vh;
}

header{
    background-color: red;
}

a:visited{
    color: inherit;
}

#navbar {
    background-color: #dda15e;
    height: 5vh;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1;
    display: flex;
    align-items: center;
    animation: slideIn 5s ease forwards;
}

    #navbar ul{
        width: inherit;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }

    #navbar li{
        font-size: 1vw;
        float: right;
        color: #fefae0;
    }

    #navbar a{
        padding: 0.5rem;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    #navbar a.active{
        background-color: #b4834c;
        border-radius: 10px;
    }

    @keyframes slideIn{
        100%{
            top:0;
        }
    }

.page-layout{
    display: grid;
    row-gap: 5vh;
    margin: 1rem;
}

.section-title{
    font-size: 7vh;
    font-weight: 500;
    margin-left: 2rem;
}

.anchor{
    display: block;
    position: relative;
    top: 6vh;
    visibility: hidden;
}

.introduction-div{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    margin-top: 2vh;
}

.equal-flex{
    flex: 1;
}

.portrait-container{
    flex: 1;
}

    .portrait{
        flex: 1;
        object-fit: fill;
        height: auto;
        width: 100%;
    }

.intro{
    font-size: 3.6vw;
    line-height: 2.5;
    display: inline-block;
}

.project-entry{
        display: flex;
        flex-direction: row;
        height: 30vh;
        margin-top: 2vh;
    }

    .project-image-container{
        flex-basis: 22%;
        justify-content: center;
    }

    .project-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 80%;
        border-width: 3vh;
    }

    .project-text-container a{
        font-size: 3.5vh;
        font-weight: 500;
    }

    .project-description{
        margin-top: 0;
        font-size: 2.3vh;
    }

    .project-entry ul{
        padding-left: 0;
        font-size: 2.2vh;
    }
        .project-entry li{
            list-style-position: inside;
        }


.intro span{
    opacity: 0;
    animation: fadeIn ease 3s forwards;
}
    .intro span:nth-of-type(2){
        animation-delay: 1s;
    }
    .intro span:nth-of-type(3){
        animation-delay: 2s;
    }
    .intro span:nth-of-type(4){
        animation-delay: 2.5s;
    }
    @keyframes fadeIn{
        100% {
            opacity: 1;
        }
    }

.slidingVertical span{
    animation: topToBottom 12.5s linear infinite 0s;
    animation-delay: 1s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: inline;
    text-indent: 0.35em;
    color: #0077b6;
}
    .slidingVertical span:nth-child(2){
        animation-delay: 3.5s;
    }
    .slidingVertical span:nth-child(3){
        animation-delay: 6s;
    }
    .slidingVertical span:nth-child(4){
        animation-delay: 8.5s;
    }
    .slidingVertical span:nth-child(5){
        animation-delay: 11s;
    }

    @keyframes topToBottom{
        0% {opacity: 0;}
        5% {opacity: 0; transform: translateY(-8vh);}
        10% {opacity: 1; transform: translateY(0px);}
        25% {opacity: 1; transform: translateY(0px);}
        30% {opacity: 0; transform: translateY(8vh);}
        80% {opacity: 0;}
        100% {opacity: 0;}
    }

