body{
    background-color: #fefae0;
}

p{
    color: #283618;
    font-family: "Roboto";
}

img{
    border: 15px double #dda15e;
    border-radius: 40px;
}

.page-layout{
    display: grid;
    row-gap: 50px;
}

.section-title{
    font-size: 70px;
    font-weight: 500;
}

.introduction-div{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.equal-flex{
    flex: 1;
}

.portrait-container{
    flex: 1;
}

    .portrait{
        flex: 1;
        object-fit: fill;
        height: auto;
        width: 100%;
    }

.intro{
    font-size: 3.6vw;
    line-height: 2.5;
    display: inline-block;
}

.project-entry{
        display: flex;
        flex-direction: row;
        height: 30vh;
    }

    .project-image-container{
        flex-grow: 1;
        justify-content: center;
    }

    .project-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 80%;
    }

    .project-text-container{
        flex-grow: 4;
    }

    .project-name {
        font-size: 3vh;
        margin-top: 0;
    }

    .project-description{
        font-size: 2vh;
        margin-top: 0;
    }

    .project-entry ul{
        padding-left: 0;
    }
        .project-entry li{
            list-style-position: inside;
        }


.intro span{
    opacity: 0;
    animation: fadeIn ease 3s;
    animation-fill-mode: forwards;
}
    .intro span:nth-of-type(2){
        animation-delay: 1s;
    }
    .intro span:nth-of-type(3){
        animation-delay: 2s;
    }
    .intro span:nth-of-type(4){
        animation-delay: 2.5s;
    }
    @keyframes fadeIn{
        100% {
            opacity: 1;
        }
    }

.slidingVertical span{
    animation: topToBottom 12.6s linear infinite 0s;
    animation-delay: 1s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: inline;
    text-indent: 0.35em;
    color: #0077b6;
}
    .slidingVertical span:nth-child(2){
        animation-delay: 3.6s;
    }
    .slidingVertical span:nth-child(3){
        animation-delay: 6.1s;
    }
    .slidingVertical span:nth-child(4){
        animation-delay: 8.6s;
    }
    .slidingVertical span:nth-child(5){
        animation-delay: 11.1s;
    }
    @keyframes topToBottom{
        0% {opacity: 0;}
        5% {opacity: 0; transform: translateY(-50px);}
        10% {opacity: 1; transform: translateY(0px);}
        25% {opacity: 1; transform: translateY(0px);}
        30% {opacity: 0; transform: translateY(50px);}
        80% {opacity: 0;}
        100% {opacity: 0;}
    }



.youtube{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
    display: block;
}

.youtube:hover{
    opacity: 0.75;
}

.youtube:active{
    opacity: 0.5;
}

.join{
    background-color: white;
    border-color: rgb(0, 157, 255);
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 157, 255);
    cursor: pointer;
}

.tweet{
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.15s;
}

.tweet:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}



.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    font-family: Arial;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop:hover{
    text-decoration: underline;
    cursor: pointer;
}